html,body{
  font-family: var(--font-inter);
  min-height: 100vh;
  

}
body{
  position: relative;
  display: flex;
  flex-direction: column;
  
  
}


body::after {
  content: ""; 
  position: absolute; 
  top: 0;
  left: 0;
  
  background-image: url('/food_bg.jpg');
  height: 100%;
  
  width: 100%;
  background-color: black;
  background-position: center;
  opacity: 0.4;
  z-index: -5; 
}
h1, h2, h3, h4, h5, h6{

  font-weight: 400;
  
}