@use '/src/styles/variables' as *;
.mainContainer{
    margin: 0 auto;
    max-width: $maxContainer;
    width: 100%;
    padding: 80px $paddingMobile;
   
    
    .sectionInfo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        font-size: 20px;
        
        .timeCook{
            display: flex;
            gap: 10px;
            align-items: center;
        }
        .ingredientsContainer{
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            
            & > li{
                list-style:disc;
                list-style-position: inside;
                font-size: 14px;
            }
        }
         .imageContainer{
               
                
                
                .img{
                    border-radius: 20px;
                    width: 520px;
                    aspect-ratio:5/4;
                }
            }
        .baseInfo{
            
            
            display: flex;
            flex-direction: column;
            gap: 15px;
            
            
            .name{
                font-size: 42px;
               
            }
           .tags{
                display: flex;
                gap:10px;
                flex-wrap: wrap;
            
                
            }

        }
    }
    .textContainer{
        margin-top: 45px;
        font-size: 32px;
    }
}
@media (max-width:880px) {
    .sectionInfo{
         flex-direction: column;
      
    }
    .baseInfo{
        width: 100%;
        align-items: center;
        
    }
    .imageContainer{
        width: 100%;
        
        .img{
            width: 100% !important;
            
        }
    }
    
}