@use '/src/styles/variables' as *;
.header{
    z-index: 10;
}
.headerContainer {
    padding: 10px $paddingMobile;
    max-width: $maxContainer;
    margin: 0 auto;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba($color: #6b6b6b, $alpha: 0.2);
    font-size: 20px;
    .logo{
        font-size: 35px;
        font-weight: 600;
        
        
    }
    .navList{
        display: flex;
        gap: 20px;
        & > li > a{
            
            transition: all 0.2s ease;
            &:hover{
                opacity: 0.6;
            }
            
        }
    }
    .authContainer{
        font-size: 20px;
        display: flex;
        gap: 20px;
        align-items: center;
    }
    
    .userContainer {
        position: relative;
        cursor: pointer;
        h2 {
        margin: 0;
        }
        .infoUser{
            display: flex;
            gap: 10px;
            align-items: center;
            .user{
                font-size: 20px;
                font-family: var(--font-inter);
            }
        }
         .dropdown {
            position: absolute;
            top: 100%;
            right: 0;
            background-color: white;
            border: 1px solid #ccc;
            padding: 10px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 10px;
            z-index: 100;
            min-width: 120px;
         }
          li {
        a {
          color: black;
          text-decoration: none;
          transition: opacity 0.2s ease;

          &:hover {
            opacity: 0.7;
          }
        }
    }
    }
}