.authContainer{
    background-color: white;
    box-shadow: 4px 4px 15px rgba(82, 81, 81, 0.3);
    padding: 30px ;
    border-radius: 20px;
    max-width: 450px;
    width: 100%;
    z-index: 1000;
    margin: auto;
    .Redirect{
        opacity: 0.7;
        &:hover{
            opacity: 1;
        }
    }
    .form{
        margin-top: 20px;
        
        
        display: flex;
        flex-direction: column;
        gap:20px;
       
    }
    .header{
        text-align: center;
    }
    .btnContainer{
        margin-top: 35px;
    }
}